@import 'reset.css';

body {
	background: #dedede;
	font-family: Georgia;
	color: #444;
}

a {
	cursor: pointer;
}

button {
	padding: 5px;
	margin: 15px;
	border-radius: 5px;
	color: #dedede;
	font-size: 50px;
	font-style: bold;
	border: 0;
	width: 75px;
	outline: none;
}

button:active {
	box-shadow: inset 1px 1px 5px black;
}

.count {
	font-size: 200px;
	color: #444;
	font-style: bold;
	text-align: center;
	width: 200px;
	margin-left: 4px;
}

.list-container {
	display: inline-block;
	left: 0;
}

.button-list {
	list-style-type: none;
	margin-left: 15px;
	left: 0;
}

.counter-button {
	color: #dedede;
	width: 75px;
	float: left;
	font-size: 25px;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	cursor: pointer;
	left: 0;
}

.subtract-counter-button {
	background: red;
}

.add-counter-button {
	background: blue;
}

.counter-button:active {
	box-shadow: inset 1px 1px 5px black;
}

.cards {
	list-style-type: none;
	display: inline;
	color: #dedede;
	font-weight: bold;
}

.card {
	font-size: 25px;
	float: left;
	background: #00b100;
	padding: 15px;
}

.refresh {
	text-align: center;
}

.refresh-button {
	color: #444;
	font-size: 75px;
	float: left;
}

.refresh-button:hover {
	color: #009800;
}

.refresh-button:active {
	box-shadow: none;
}

.clear {
	clear: both;
}